numpy
scipy
matplotlib
pandas
scikit-learn
seaborn
xarray
netCDF4
PySide6
pyqtgraph
xlrd
xlwt
openpyxl
jupyterlab
ipympl
plotly
tables
ephyviewer
av
neo
mne
pingouin
statsmodels
networkx
dash
scikit-image
zarr
panel
polars
physio
pymc
arviz
jupyter_bokeh
hvplot
bokeh
bokeh_sampledata
h5py
numba