numpy
scipy
matplotlib
pandas
scikit-learn
seaborn
xarray
netCDF4
PySide6
pyqtgraph
xlrd
xlwt
openpyxl
jupyterlab
ipympl
plotly
tables
ephyviewer
neo
mne
pingouin
statsmodels
networkx
dash
scikit-image
zarr
panel
polars
physio
